/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

}

button {
    border: unset;
    background-color: unset;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.9375rem;
}


/* #endregion RESET */

/* #region TYPOGRAPHY */

:root {
    --blue: #0084fd;
    --sky: #b5ddff;
    --purple: #9792e4;
    --orange: #fdc15f;
    --grey: #333333;
    --blueish-grey: #5a6e7f;
    --border: 20px;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

.flex {
    display: flex;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 32px;
}

section:nth-of-type(even) {
    background-color: var(--purple);
}

.element {
    width: calc((100% - 48px) / 3);
    align-self: stretch;
}

.btn {
    background-color: white;
    border-radius: var(--border);
    padding: 8px 16px;
}

/* #endregion COMMON */

/* #region HEADER */

header {
    background-color: var(--blue);
    font-size: 18px;
}

header .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

header .container .btn {
    font-size: 1.125rem;
}

header .container ul {
    gap: 33px;
    align-items: center;
    color: white;
}

header .container .col .hamburger {
    display: none;
    color: white;
    font-size: 1.375rem;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region what-we-do */

.what-we-do .container {
    padding: 50px 32px 104px;
    flex-wrap: wrap;
}

.what-we-do .container {
    gap: 24px;
}

.what-we-do .container .element {
    background-color: var(--sky);
    color: var(--blueish-grey);
    font-weight: bold;
    text-align: center;
    padding: 32px 24px 30px;
    border-radius: var(--border);
}

.what-we-do .container .element p {
    font-size: 1.125rem;

}

.what-we-do .container .element i {
    color: var(--blue);
    font-size: 5rem;
    padding-bottom: 24px;
}

.what-we-do .container .element h2 {
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.what-we-do .container:first-child .element:first-child {
    width: calc(((100% - 48px) / 3) * 2 + 24px);
    text-align: start;
    padding-bottom: 0;
}

.what-we-do .container:first-child .element:first-child .col.left {
    padding-bottom: 60px;
    padding-right: 28px;
}

.what-we-do .container:first-child .element:first-child .col.left button {
    background-color: var(--blue);
    color: white;
    padding: 10px 49px;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 4px;
    margin-top: 31px;
    border-radius: 18px;

}

.what-we-do .container:first-child .element:first-child .col.left button i {
    padding-right: 7px;
    color: white;
    font-size: inherit;
    padding-bottom: 0;
}

.what-we-do .container:first-child .element:first-child .col.right {
    align-items: flex-end;
    padding-right: 52px;
}



/* #endregion what-we-do */

/* #region where-to-use */

.where-to-use .container {
    padding: 132px 164px 64px;
    gap: 66px;
}

.where-to-use .container .col {
    width: 50%;
    flex-direction: column;
}

.where-to-use .container .col.left {
    color: white;
    align-items: flex-start;
}

.where-to-use .container .col.left img {
    padding-bottom: 131px;
}

.where-to-use .container .col.left p {
    font-size: 1rem;
    line-height: 1.6875rem;
}

.where-to-use .container .col.left h2 {
    font-size: 2.125rem;
    padding-bottom: 49px;
}

.where-to-use .container .col.right {
    background-color: white;
    border-radius: 50px;
    margin-top: 179px;
    text-align: center;
    padding: 32px 40px 23px;
    align-items: center;
}

.where-to-use .container .col.right h4 {
    font-size: 1.5rem;
    padding-bottom: 1px;
}

.where-to-use .container .col.right p {
    margin-top: 15px;
    font-size: 1.125rem;
    font-style: italic;
}

.where-to-use .container .col.right img {
    width: 75%;
    padding-bottom: 24px;
}

.where-to-use .container .col.right i {
    margin-top: 22px;
    font-size: 1rem;
    padding: 16px 18px;
    background-color: var(--purple);
    border-radius: 50%;
}

/* #endregion where-to-use */

/* #region testimonials */

.testimonials .container {
    text-align: center;
    padding: 69px 32px 112px;
}

.testimonials .container .testimonials-info {
    padding-bottom: 52px;
}

.testimonials .container .testimonials-info h2 {
    padding: 44px 0 55px;
    color: var(--purple);
}

.testimonials .container .grid {
    flex-direction: column;
    gap: 32px;
}

.testimonials .container .grid .row {
    background-color: var(--purple);
    padding: 32px 16px 48px;
}

.testimonials .container .grid .row .col.pic {
    width: 200px;
}

/* #endregion testimonials */

/* #region benefits */

.benefits .container .info-benefits h2 {
    padding: 78px 0 76px;
    text-align: center;
    color: white;
}


.benefits .container .grid {
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 64px;
}

.benefits .container .grid .element {
    width: calc((100% - 64px) / 3);
    background-color: white;
    color: var(--blueish-grey);
}

/* #endregion benefits */

/* #region about-us */

.about-us .container {
    padding: 102px 80px 159px;
}

.about-us .container .col.left {
    flex: 2;
}

.about-us .container .col.right {
    flex: 1;
}

/* #endregion about-us */

/* #region call-to-action */

.call-to-action {
    text-align: center;
    padding: 68px 0;
}

/* #endregion call-to-action */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    text-align: center;
    background-color: var(--grey);
    padding: 64px 0;
}

footer .info {
    text-align: center;
    color: white;
}

footer .info p:first-child {
    padding-bottom: 73px;
}

/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* Tablet da 0 a 992px */

@media screen and (max-width: 992px) {

    /* Header */

    header .container .col .hamburger {
        display: block;
    }

    header .container ul {
        display: none;
    }

    /* /Header */

    /* Sezione what-we-do */

    .what-we-do .container .element {
        flex-direction: column;
    }

    .what-we-do .container:first-child .element:first-child .col.right {
        margin-top: -20px;
        width: 68%;
    }

    .what-we-do .container .element i {
        font-size: 4.8rem;
    }

    /* /Sezione what-we-do */

    /* Sezione where-to-use */

    .where-to-use .container {
        flex-direction: column;
        padding: 130px 32px 64px;
        gap: 35px;
    }

    .where-to-use .container .col {
        width: 100%;
    }

    .where-to-use .container .col.left img {
        width: 92%;
        align-self: center;

    }

    .where-to-use .container .col.left p {
        font-size: 1rem;
        line-height: 1.75rem;
    }

    .where-to-use .container .col.left h2 {
        font-size: 4.5rem;
        padding-bottom: 49px;
    }

    .where-to-use .container .col.right {
        margin-top: -2px;
    }


    .where-to-use .container .col.right img {
        width: 91%;
        margin-bottom: -12px;
    }



    /* /Sezione where-to-use */

    /* Sezione benefits */

    .benefits .container .grid .element {
        width: calc((100% - 32px) / 2);
    }

    /* /Sezione benefits */

    /* Sezione about-us */

    .about-us .container {
        padding: 102px 64px 159px;
    }

    .about-us .container .col.left {
        flex: 2;
    }

    .about-us .container .col.right {
        flex: 1;
    }

    /* /Sezione about-us */
}







/* Mobile da 0 a 768px */

@media screen and (max-width: 768px) {

    /* Sezione what-we-do */


    .what-we-do .container {
        padding-bottom: 80px;
        flex-direction: column;

    }

    .what-we-do .container:first-child .element {
        padding: 32px;
    }

    .what-we-do .container:first-child .element:first-child .col.left {
        padding-right: 0px;
    }



    .what-we-do .container .element p {

        line-height: 1.6875rem;
        font-size: 1rem;
    }

    .what-we-do .container .element i {
        font-size: 5rem;
    }

    .what-we-do .container .element,
    .what-we-do .container:first-child .element:first-child {
        width: 100%;
    }

    .what-we-do .container:first-child .element:first-child .col.right {
        width: 100%;
        padding-right: 0;
        margin-top: -24px;
    }

    .what-we-do .container:first-child .element:first-child .col.left button {
        font-size: initial;

    }


    /* /Sezione what-we-do */

    /* Sezione where-to-use */

    .where-to-use .container {
        flex-direction: column;
        padding: 68px 32px 64px;
        gap: 33px;
    }

    .where-to-use .container .col.left img {
        padding-bottom: 78px;
        width: 100%;
    }

    .where-to-use .container .col.left h2 {
        font-size: 2.125rem;
    }

    .where-to-use .container .col.right {
        padding: 32px 0 21px;
    }

    .where-to-use .container .col.right p {
        padding: 0 24px;
    }

    .where-to-use .container .col.right img {
        width: 92%;
    }

    /* /Sezione where-to-use */

    /* Sezione testimonials */

    .testimonials .container .grid .row {
        flex-direction: column;
        padding: 32px 22px 38px;
    }

    .testimonials .container .grid .row .col.pic {
        align-self: center;
    }

    /* /Sezione testimonials */

    /* Sezione benefits */

    .benefits .container .info-benefits h2 {
        padding: 74px 0 75px;
    }

    .benefits .container .grid .element {
        width: 100%;
    }

    /* /Sezione benefits */

    /* Sezione about-us */

    .about-us .container {
        padding: 95px 32px 80px;
        flex-direction: column;
        gap: 62px;
    }

    /* /Sezione about-us */
}

/* #endregion MEDIA QUERIES */