/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;
}

button {
    border: unset;
    background-color: unset;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    width: 100%;
}

/* #endregion RESET */

/* #region TYPOGRAPHY */

:root {
    --blue: #0084fd;
    --sky: #b5ddff;
    --purple: #9792e4;
    --orange: #fdc15f;
    --grey: #333333;
    --blueish-grey: #5a6e7f;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

.flex {
    display: flex;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 32px;
}

section:nth-of-type(even) {
    background-color: var(--purple);
}

.element {
    width: calc((100% - 48px) / 3);
    align-self: stretch;
}

.btn {
    background-color: white;
    border-radius: 20px;
    padding: 8px 16px;
}

/* #endregion COMMON */

/* #region HEADER */

header {
    background-color: var(--blue);
    font-size: 18px;
}

header .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

header .container .btn {
    font-size: 18px;
}

header .container ul {
    gap: 33px;
    align-items: center;
    color: white;
}

header .container .col .hamburger {
    display: none;
    color: white;
    font-size: 22px;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region what-we-do */

.what-we-do .container {
    flex-direction: column;
    padding: 50px 32px 104px;
}

.what-we-do .container,
.what-we-do .container .row {
    gap: 24px;
}

.what-we-do .container .row .element {
    background-color: var(--sky);
    color: var(--blueish-grey);
    font-weight: bold;
    text-align: center;
}

.what-we-do .container .row:first-child .element:first-child {
    flex-grow: 1;
    text-align: start;
}



/* #endregion what-we-do */

/* #region where-to-use */

.where-to-use .container {
    padding: 134px 164px 64px;
}

.where-to-use .container .col {
    width: 50%;
}

.where-to-use .container .col.right {
    background-color: white;
    margin-top: 175px;
    text-align: center;
}

/* #endregion where-to-use */

/* #region testimonials */

.testimonials .container {
    text-align: center;
    padding: 69px 32px 112px;
}

.testimonials .container .testimonials-info {
    padding-bottom: 52px;
}

.testimonials .container .testimonials-info h2 {
    padding: 44px 0 55px;
    color: var(--purple);
}

.testimonials .container .grid {
    flex-direction: column;
    gap: 32px;
}

.testimonials .container .grid .row {
    background-color: var(--purple);
    padding: 32px 16px 48px;
}

.testimonials .container .grid .row .col.pic {
    width: 200px;
}

/* #endregion testimonials */

/* #region benefits */

.benefits .container .info-benefits h2 {
    padding: 78px 0 76px;
    text-align: center;
    color: white;
}


.benefits .container .grid {
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 64px;
}

.benefits .container .grid .element {
    width: calc((100% - 64px) / 3);
    background-color: white;
    color: var(--blueish-grey);
}

/* #endregion benefits */

/* #region about-us */

.about-us .container {
    padding: 102px 80px 159px;
}

.about-us .container .col.left {
    flex: 2;
}

.about-us .container .col.right {
    flex: 1;
}

/* #endregion about-us */

/* #region call-to-action */

.call-to-action {
    text-align: center;
    padding: 68px 0;
}

/* #endregion call-to-action */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    text-align: center;
    background-color: var(--grey);
    padding: 64px 0;
}

footer .info {
    text-align: center;
    color: white;
}

footer .info p:first-child {
    padding-bottom: 73px;
}

/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* Tablet da 0 a 992px */

@media screen and (max-width: 992px) {

    /* Header */

    header .container .col .hamburger {
        display: block;
    }

    header .container ul {
        display: none;
    }

    /* /Header */

    /* Sezione what-we-do */

    .what-we-do .container .row .element {
        flex-direction: column;
    }

    /* /Sezione what-we-do */

    /* Sezione where-to-use */

    .where-to-use .container {
        padding: 140px 32px 64px;
        flex-direction: column;
    }

    .where-to-use .container .col {
        width: 100%;
    }

    .where-to-use .container .col.right {
        margin-top: 0;
    }

    /* /Sezione where-to-use */

    /* Sezione benefits */

    .benefits .container .grid .element {
        width: calc((100% - 32px) / 2);
    }

    /* /Sezione benefits */

    /* Sezione about-us */

    .about-us .container {
        padding: 102px 64px 159px;
    }

    .about-us .container .col.left {
        flex: 2;
    }

    .about-us .container .col.right {
        flex: 1;
    }

    /* /Sezione about-us */
}

/* Mobile da 0 a 768px */

@media screen and (max-width: 768px) {

    /* Sezione what-we-do */

    .what-we-do .container {
        padding-bottom: 80px;
    }

    .what-we-do .container .row {
        flex-direction: column;
    }

    .what-we-do .container .row .element {
        width: 100%;
    }

    /* /Sezione what-we-do */

    /* Sezione where-to-use */

    .where-to-use .container {
        flex-direction: column;
        padding: 68px 32px 64px;
        gap: 40px;
    }

    /* /Sezione where-to-use */

    /* Sezione testimonials */

    .testimonials .container .grid .row {
        flex-direction: column;
        padding: 32px 22px 38px;
    }

    .testimonials .container .grid .row .col.pic {
        align-self: center;
    }

    /* /Sezione testimonials */

    /* Sezione benefits */

    .benefits .container .info-benefits h2 {
        padding: 74px 0 75px;
    }

    .benefits .container .grid .element {
        width: 100%;
    }

    /* /Sezione benefits */

    /* Sezione about-us */

    .about-us .container {
        padding: 95px 32px 80px;
        flex-direction: column;
        gap: 62px;
    }

    /* /Sezione about-us */
}

/* #endregion MEDIA QUERIES */