/* #region RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Sans', sans-serif;

}

button {
    border: unset;
    background-color: unset;

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

img {
    display: block;
    width: 100%;
}

p {
    line-height: 1.9375rem;
}

.button-spaced {
    color: white;
    padding: 10px 47px;
    font-size: inherit;
    font-weight: bold;
    letter-spacing: 4px;
    border-radius: 30px;
}


/* #endregion RESET */

/* #region TYPOGRAPHY */

:root {
    --blue: #0084fd;
    --sky: #b5ddff;
    --purple: #9792e4;
    --orange: #fdc15f;
    --grey: #333333;
    --blueish-grey: #5a6e7f;
    --border: 20px;
}

/* #endregion TYPOGRAPHY */

/* #region COMMON */

.flex {
    display: flex;
}

.container {
    max-width: 1202px;
    margin: 0 auto;
    padding: 0 32px;
}

section:nth-of-type(even) {
    background-color: var(--purple);
}

.element {
    width: calc((100% - 48px) / 3);
    align-self: stretch;
}

.btn {
    background-color: white;
    border-radius: var(--border);
    padding: 8px 16px;
}

/* #endregion COMMON */

/* #region HEADER */

header {
    background-color: var(--blue);
    font-size: 18px;
}

header .container {
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

header .container .btn {
    font-size: 1.125rem;
}

header .container ul {
    gap: 33px;
    align-items: center;
    color: white;
}

header .container .col .hamburger {
    display: none;
    color: white;
    font-size: 1.375rem;
}

/* #endregion HEADER */

/* #region MAIN */

/* #region what-we-do */

.what-we-do .container {
    padding: 50px 32px 104px;
    flex-wrap: wrap;
}

.what-we-do .container {
    gap: 24px;
}

.what-we-do .container .element {
    background-color: var(--sky);
    color: var(--blueish-grey);
    font-weight: bold;
    text-align: center;
    padding: 32px 24px 30px;
    border-radius: var(--border);
}

.what-we-do .container .element p {
    font-size: 1.125rem;

}

.what-we-do .container .element i {
    color: var(--blue);
    font-size: 5rem;
    padding-bottom: 24px;
}

.what-we-do .container .element h2 {
    color: var(--blue);
    font-size: 1.5rem;
    margin-bottom: 24px;
}

.what-we-do .container:first-child .element:first-child {
    width: calc(((100% - 48px) / 3) * 2 + 24px);
    text-align: start;
    padding-bottom: 0;
}

.what-we-do .container:first-child .element:first-child .col.left {
    padding-bottom: 60px;
    padding-right: 28px;
}

.what-we-do .container:first-child .element:first-child .col.left button {
    background-color: var(--blue);
    color: white;
    padding: 10px 49px;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: 4px;
    margin-top: 31px;
    border-radius: 18px;

}

.what-we-do .container:first-child .element:first-child .col.left button i {
    padding-right: 7px;
    color: white;
    font-size: inherit;
    padding-bottom: 0;
}

.what-we-do .container:first-child .element:first-child .col.right {
    align-items: flex-end;
    padding-right: 52px;
}



/* #endregion what-we-do */

/* #region where-to-use */

.where-to-use .container {
    padding: 132px 164px 64px;
    gap: 66px;
}

.where-to-use .container .col {
    width: 50%;
    flex-direction: column;
}

.where-to-use .container .col.left {
    color: white;
    align-items: flex-start;
}

.where-to-use .container .col.left img {
    padding-bottom: 131px;
}

.where-to-use .container .col.left p {
    font-size: 1rem;
    line-height: 1.6875rem;
}

.where-to-use .container .col.left h2 {
    font-size: 2.125rem;
    padding-bottom: 49px;
}

.where-to-use .container .col.right {
    background-color: white;
    border-radius: 50px;
    margin-top: 179px;
    text-align: center;
    padding: 32px 40px 23px;
    align-items: center;
}

.where-to-use .container .col.right h4 {
    font-size: 1.5rem;
    padding-bottom: 1px;
}

.where-to-use .container .col.right p {
    margin-top: 15px;
    font-size: 1.125rem;
    font-style: italic;
}

.where-to-use .container .col.right img {
    width: 75%;
    padding-bottom: 24px;
}

.where-to-use .container .col.right i {
    margin-top: 22px;
    font-size: 1rem;
    padding: 16px 18px;
    background-color: var(--purple);
    border-radius: 50%;
}

/* #endregion where-to-use */

/* #region testimonials */

.testimonials .container {
    text-align: center;
    padding: 69px 32px 112px;
    font-size: 1.25rem;
}

.testimonials .container .testimonials-info {
    padding-bottom: 52px;
}

.testimonials .container .testimonials-info div:first-child {
    font-size: 1.125rem;
}

.testimonials .container .testimonials-info h2 {
    padding: 22px 0 35px;
    color: var(--purple);
    font-size: 3rem;
}

.testimonials .container .grid {
    flex-direction: column;
    gap: 32px;
}

.testimonials .container .grid .row {
    background-color: var(--purple);
    padding: 32px 16px 48px;
    border-radius: 50px;
    align-items: center;
    text-align: start;
    color: white;
}

.testimonials .container .grid .row .col.info {
    padding: 28px 32px 0px 65px;
    line-height: 1.9375rem;
}

.testimonials .container .grid .row .col.info i:first-child {
    vertical-align: top;
    padding-right: 4px;
}

.testimonials .container .grid .row .col.info i:last-of-type {
    padding-left: 4px;
}

.testimonials .container .grid .row .col.info .testimonial-name {
    font-weight: bold;
    margin-top: 25px;
    letter-spacing: 2px;
}

.testimonials .container .grid .row .col.pic img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
}

/* #endregion testimonials */

/* #region benefits */

.benefits .container .info-benefits h2 {
    padding: 64px 0;
    text-align: center;
    color: white;
    font-size: 3rem;
}


.benefits .container .grid {
    gap: 32px;
    flex-wrap: wrap;
    padding-bottom: 64px;
}

.benefits .container .grid .element {
    width: calc((100% - 64px) / 3);
    background-color: white;
    color: var(--blueish-grey);
    border-radius: var(--border);
    padding: 32px 34px;
}

.benefits .container .grid .element h2 {
    font-size: 4.5rem;
    margin-bottom: 9px;
    color: var(--purple);

}

.benefits .container .grid .element h3 {
    font-size: 1.5rem;
    color: var(--purple);
    margin-bottom: 18px;
}

.benefits .container .grid .element p {
    line-height: 1.75rem;
}

.benefits .container .grid .element .button-spaced {
    background-color: var(--purple);
    margin-top: 22px;
}

/* #endregion benefits */

/* #region about-us */

.about-us .container {
    padding: 80px 80px 145px;
    gap: 107px;
}

.about-us .container .col.left {
    width: 66.6666%;
}

.about-us .container .col.left h2 {
    font-size: 4.5rem;
    color: var(--purple);
}

.about-us .container .col.left p {
    font-size: 1.25rem;
    line-height: 2.75rem;

}

.about-us .container .col.left p:first-of-type {

    padding: 33px 0 47px;
}


.about-us .container .col.right {
    width: 33.3333%;
    width: 20%;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 15px;


}

.about-us .container .col.right .img-container {

    position: relative;
}

.about-us .container .col.right .img-container i {
    position: absolute;
    top: -10px;
    right: -10px;
    color: var(--purple);
    font-size: 4.75rem;
}

.about-us .container .col.right .img-container img {
    border-radius: 50%;
    object-fit: cover;
}

.about-us .container .col.right p {
    font-size: 1.875rem;
    color: var(--purple);
    font-weight: bold;
    padding: 24px 0 18px;
    line-height: 2.5rem;
}

.about-us .container .col.right .btn {
    background-color: var(--purple);
    color: white;
    width: fit-content;
    font-size: 1rem;
}

.about-us .container .col.right .btn i {
    padding-right: 5px;
}


/* #endregion about-us */

/* #region call-to-action */

.call-to-action {
    text-align: center;
    padding: 63px 0;
    color: white;
}

.call-to-action .cta {
    font-size: 1.25rem;
    letter-spacing: 1px;
    padding-bottom: 13px;
}

.call-to-action h2 {
    font-size: 3rem;
    padding-bottom: 24px;
}

.call-to-action h1 {
    font-size: 6rem;
    color: var(--orange);
    padding-bottom: 24px;
}

.call-to-action p {
    width: 40%;
    margin: 0 auto;
    font-size: 1.125rem;

}

.call-to-action .button-spaced {
    background-color: white;
    color: var(--purple);
    padding: 27px 75px;
    border-radius: 50px;
    font-size: 1.125rem;
    margin: 34px 0 34px;
}

.call-to-action .copyright a {
    text-decoration: underline;
}



/* #endregion call-to-action */

/* #endregion MAIN */

/* #region FOOTER */

footer {
    text-align: center;
    background-color: var(--grey);
    padding: 64px 0;
}

footer .info {
    text-align: center;
    color: white;
}

footer .info p:first-child {
    padding-bottom: 73px;
}

/* #endregion FOOTER */

/* #region MEDIA QUERIES */

/* Tablet da 0 a 992px */

@media screen and (max-width: 992px) {

    /* Header */

    header .container .col .hamburger {
        display: block;
    }

    header .container ul {
        display: none;
    }

    /* /Header */

    /* Sezione what-we-do */

    .what-we-do .container .element {
        flex-direction: column;
    }

    .what-we-do .container:first-child .element:first-child .col.right {
        margin-top: -20px;
        width: 68%;
    }

    .what-we-do .container .element i {
        font-size: 4.8rem;
    }

    /* /Sezione what-we-do */

    /* Sezione where-to-use */

    .where-to-use .container {
        flex-direction: column;
        padding: 130px 32px 64px;
        gap: 35px;
    }

    .where-to-use .container .col {
        width: 100%;
    }

    .where-to-use .container .col.left img {
        width: 92%;
        align-self: center;

    }

    .where-to-use .container .col.left p {
        font-size: 1rem;
        line-height: 1.9375rem;
    }

    .where-to-use .container .col.left h2 {
        font-size: 4.5rem;
        padding-bottom: 49px;
    }

    .where-to-use .container .col.right {
        margin-top: -2px;
    }


    .where-to-use .container .col.right img {
        width: 91%;
        margin-bottom: -12px;
    }



    /* /Sezione where-to-use */

    /* Sezione testimonials*/

    .testimonials .container .testimonials-info p {
        line-height: 2rem;
    }

    .testimonials .container .testimonials-info h2 {
        font-size: 2.75rem;
    }

    .testimonials .container .grid .row .col.info {
        padding-left: 32px;
        padding-right: 0;
        line-height: 2rem;
    }

    /* /Sezione testimonials*/

    /* Sezione benefits */

    .benefits .container .info-benefits h2 {
        font-size: 2.75rem;
    }

    .benefits .container .grid .element {
        width: calc((100% - 32px) / 2);
    }

    /* /Sezione benefits */

    /* Sezione about-us */

    .about-us .container {
        padding: 78px 64px 139px;
        gap: 70px;
    }

    .about-us .container .col.left {
        width: 62%;
    }

    .about-us .container .col.right {
        width: 38%;
    }

    .about-us .container .col.right p {
        font-size: 1.875rem;
    }

    .about-us .container .col.left p {
        font-size: 1.125rem;
        line-height: 2.5rem;
    }

    /* /Sezione about-us */

    /* Sezione call-to-action */
    .call-to-action p {
        width: 60%;

    }

    /* /Sezione call-to-action */
}







/* Mobile da 0 a 768px */

@media screen and (max-width: 768px) {

    /* Sezione what-we-do */


    .what-we-do .container {
        padding-bottom: 80px;
        flex-direction: column;

    }

    .what-we-do .container:first-child .element {
        padding: 32px;
    }

    .what-we-do .container:first-child .element:first-child .col.left {
        padding-right: 0px;
    }



    .what-we-do .container .element p {

        line-height: 1.6875rem;
        font-size: 1rem;
    }

    .what-we-do .container .element i {
        font-size: 5rem;
    }

    .what-we-do .container .element,
    .what-we-do .container:first-child .element:first-child {
        width: 100%;
    }

    .what-we-do .container:first-child .element:first-child .col.right {
        width: 100%;
        padding-right: 0;
        margin-top: -24px;
    }

    .what-we-do .container:first-child .element:first-child .col.left button {
        font-size: initial;

    }


    /* /Sezione what-we-do */

    /* Sezione where-to-use */

    .where-to-use .container {
        flex-direction: column;
        padding: 68px 32px 64px;
        gap: 33px;
    }

    .where-to-use .container .col.left img {
        padding-bottom: 78px;
        width: 100%;
    }

    .where-to-use .container .col.left h2 {
        font-size: 2.125rem;
    }

    .where-to-use .container .col.right {
        padding: 32px 0 21px;
    }

    .where-to-use .container .col.right p {
        padding: 0 24px;
    }

    .where-to-use .container .col.right img {
        width: 92%;
    }

    /* /Sezione where-to-use */

    /* Sezione testimonials */

    .testimonials .container .grid .row {
        flex-direction: column;
        padding: 32px 16px 26px;
    }

    .testimonials .container .grid .row .col.pic {
        align-self: center;
    }


    .testimonials .container .testimonials-info h2 {
        font-size: 2.25rem;
    }

    .testimonials .container .testimonials-info p {
        line-height: 2.125rem;
    }

    .testimonials .container .grid .row .col.info {
        text-align: center;
        padding-top: 17px;
        padding-left: 0px;

    }

    .testimonials .container .grid .row .col.info span {
        line-height: 2.125rem;
        margin-top: -2px;
    }

    .testimonials .container .grid .row .col.info .testimonial-name {
        margin-top: 21px;
    }

    /* /Sezione testimonials */

    /* Sezione benefits */

    .benefits .container .info-benefits h2 {
        font-size: 2.25rem;
    }

    .benefits .container .grid .element {
        width: 100%;
    }

    .benefits .container .grid .element h2 {
        font-size: 3rem;
    }

    .benefits .container .grid .element h3 {
        margin-top: 20px;
    }

    /* /Sezione benefits */

    /* Sezione about-us */

    .about-us .container {
        padding: 79px 32px 80px;
        flex-direction: column;
        gap: 32px;
    }

    .about-us .container .col.left p {
        line-height: 2.490rem;
    }

    .about-us .container .col.left,
    .about-us .container .col.right {
        width: 100%;
    }

    .about-us .container .col.left h2 {
        font-size: 3rem;
    }

    .about-us .container .col.right .img-container {
        width: 58%;
    }

    .about-us .container .col.right p {
        margin-top: -5px
    }

    /* /Sezione about-us */

    /* Sezione call-to-action */
    .call-to-action {
        padding-left: 34px;
        padding-right: 34px;
    }

    .call-to-action h2 {
        font-size: 1.875rem;
    }

    .call-to-action h1 {
        font-size: 3.75rem;
    }

    .call-to-action p {
        width: 100%;
        line-height: 1.75rem;

    }

    .call-to-action .button-spaced {
        padding: 22px 71px;
        font-size: 1rem;
        margin: 34px 0 29px;
    }

    .call-to-action p,
    .call-to-action .button-spaced {
        font-size: 1rem;
    }

    .call-to-action .copyright {
        font-size: .875rem;
    }

    /* /Sezione call-to-action */
}

/* #endregion MEDIA QUERIES */